*.pyo
*.pyc
__pycache__
meta.json
*.sublime-project
*.sublime-workspace
.hidden
.directory
.gitold
.sublime-backup
research
obsolete
docs/specs.md
docs/todo.md
docs/*.todo
docs/description.html
tools/test.py
pdf_glossary/forms*
pdf-glossary-*.zip
pdf_glossary/libs/**/*.so
pdf_glossary/libs/**/*.pyd
pdf_glossary/libs/**/*.dylib
pdf_glossary/bin/platform
pdf_glossary/libs/**/.libs
pdf_glossary/user_data/user.css